---
import Base from '../layouts/Base.astro';
import SpeechButton from '$/components/SpeechButton.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
<div class="relative pt-14 grow flex items-center justify-center">
    <div  class="opacity-35 bg-stone-200 absolute top-0 h-[12px] w-full"></div>
    <div class="relative -translate-y-3/4 p-8">
        <h1 class="text-9xl font-[cursive] text-center text-stone-700 relative grow-0">
            {SITE_TITLE}
        </h1>
        <span class="absolute right-0 bottom-0"><SpeechButton text={SITE_TITLE} lang="zh" voice="Yu-shu" client:only="svelte" /></span>
    </div>
</div>
</Base>
